<!DOCTYPE html>
{% extends 'pagesBase.html' %}
{%load static%}
{%block main%}
<html>
  <link rel="stylesheet" href="{% static 'css/main-stylesheet.css' %}/?=v1">
  <script src="{% static 'js/main-js.js' %}"></script>

    <body>
        <div class="video-container" style="justify-content: center;">
            <video autoplay muted loop id="myVideo">
                <source src="{% static "ImageData/abstractbluebg_720.mp4" %}" type="video/mp4">
              </video>

            <div id="floating-nav" class="d-none d-md-block navbarCaption mx-auto">
                <nav class="navbar navbar-expand-sm navbarBg">
                    
                    <!-- Links -->
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link navBarItem" href="#" data-toggle="dropdown">
                            Your Store
                            </a>
                            <div class="dropdown-menu floating-nav-menu">
                              <a class="menuItem" href="#">Home</a>
                              <a class="menuItem" href="#">Community Recommendation</a>
                              <a class="menuItem" href="#">Recently Viewed</a>
                              <a class="menuItem" href="#">Steam Curators</a>
                            </div>
                          </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link navBarItem" href="#">New and Noteworthy</a>
                            <div class="dropdown-menu floating-nav-menu">
                              <a class="menuItem" href="#">Steam Replay 2022</a>
                              <a class="menuItem" href="#">Top Sellers</a>
                              <a class="menuItem" href="#">Most Played</a>
                              <a class="menuItem" href="#">Popular and Upcoming</a>
                          </li>

                        <li class="nav-item dropdown">
                          <a class="nav-link navBarItem" href="#">Categories</a>
        
                          <div class="dropdown-menu floating-nav-menu">
                            <a class="menuItem navBarItem" href="#">Action</a>
                            <a class="menuItem navBarItem" href="#">Roleplaying</a>
                            <a class="menuItem navBarItem" href="#">Strategy</a>
                            <a class="menuItem navBarItem" href="#">Adventure</a>
                            <a class="menuItem navBarItem" href="#">Sports</a>
                          </div>
                        </li>
                        
                        <li class="nav-item">
                          <a class="nav-link navBarItem" href="#">Labs</a>
                        </li>
                      </ul>

                      <form class="form-inline ml-auto" method='GET' action="{% url 'pages:search' %}">
                        
                        <input class="form-control" type="search" placeholder="Search" name="searched">
                        <button id="btn-search" class="btn" type="submit"><img  src="https://img.icons8.com/material-rounded/256/search.png">
                        </button>
                      </form>
                  </nav>
            </div>

            <div class="caption">
                <h5>Feb.06 - Feb.13 @10AM Pacific</h5>
                <img src="{% static "ImageData/nextfest.png" %}">
            </div>
        </div>

        <div id="main" class="container-fluid">
          <div class="sidebar d-none d-xl-block">
            <img src="https://steamstore-a.akamaihd.net/public/images//gift/steamcards_promo_02.png">
            <h5>GIFT CARDS</h5>
            <a href="#">Now Available on Steam</a>
            <h5>RECOMMENDED</h5>
            <a href="#">By Friends</a>
            <br>
            <a href="#">By Curators</a>
            <br>
            <a href="#">Tags</a>
            <br>
            <h5>DISCOVERY QUEUES</h5>
            <a href="#">Recommendations</a>
            <br>
            <a href="#">New Releases</a>
            <br>
            <h5>BROWSE CATEGORIES</h5>
            <a href="#">Top Sellers</a>
            <br>
            <a href="#">Recently Updated</a>
            <br>
            <a href="#">New Releases</a>
            <br>
            <a href="#">Upcoming</a>
            <br>
            <a href="#">Specials</a>
            <br>
            <a href="#">Virtual Reality</a>
            <br>
            <a href="#">Steam Controller Friendly</a>
            <h5>BROWSE BY GENRE</h5>
            <a href="#">Free to Play</a>
            <br>
            <a href="#">Early Access</a>
            <br>
            <a href="">Action</a>
            <br>
            <a href="#">Adventure</a>
            <br>
            <a href="#">Casual</a>
            <br>
            <a href="#">Indie</a>
            <br>
            <a href="#">Massively Multiplayer</a>
            <br>
            <a href="#">Racing</a>
            <h5>RECENTLY VIEWED</h5>
            <a href="#">Apex Legends</a>
            <br>
            <a href="#">CSGO</a>
            <br>
            <a href="#">Destiny: 2</a>
          </div>
          
        <div style=""
         id="demo" class="carousel slide carousel-fade" data-ride="carousel">

          <!-- Indicators -->
          <ul class="carousel-indicators">
            {% for game in games %}
                {% if forloop.first %}
            <li data-target="#demo" data-slide-to="0" class="active"></li>
                {% else %}
            <li data-target="#demo" data-slide-to="forloop.counter"></li>
                {% endif %}
            {% endfor %}
          </ul>
          
          <!-- The top slideshow -->
          <div class="carousel-inner">
            {% for game in games %}
            {% if forloop.first %}           
            <div class="carousel-item active">
            {% else %}
            <div class="carousel-item">
            {% endif %}
              <a href="{% url "game" game.id %}" >
                <img src="{{game.img_cover.url}}"> 
              </a>
            </div>
            {% endfor %}
          </div>
          
          <!-- Left and right controls -->
          <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>
          <!-- End of top slideshow -->



        <div id="midTitle">
          <h2 class="midTitleFont">Trending this week</h2>
        </div>

        <div 
         id="demo2" class="carousel slide" data-ride="carousel">

          <!-- Indicators -->
          <ul class="carousel-indicators">
            <li data-target="#demo2" data-slide-to="0" class="active"></li>
            <li data-target="#demo2" data-slide-to="1"></li>
            <li data-target="#demo2" data-slide-to="2"></li>
          </ul>

          <!-- The bottom slideshow -->
          
          <div class="carousel-inner">
            <!--This Div Contains the full carousel item, with each div inside containing a single image with caption for each img-->
            <div class="carousel-item active">
            {% for game in games %}
              {% if forloop.counter < 4 %}
                <div class="carouselItem" style="background-image: url({{game.img_cover.url}});">
                
                <img class="carouselImg" src="{{game.img_cover.url}}">
              
                <a href="{% url 'game' game.id %}">
              <span class="carouselCaption">{{game.name}}<br> {{game.price}}$</span>
              </a>
            </div>
            {% endif %}
            {% endfor %}
          </div>
              
          <div class="carousel-item">
            {% for game in games %}
              {% if forloop.counter >= 4 and forloop.counter < 7 %}
                <div class="carouselItem" style="background-image: url({{game.img_cover.url}});">
                
                <img class="carouselImg" src="{{game.img_cover.url}}">
              
                <a href="{% url 'game' game.id %}">
              <span class="carouselCaption">{{game.name}}<br> {{game.price}}$</span>
              </a>
            </div>
            {% endif %}
            {% endfor %}
          </div>

          <div class="carousel-item">
            {% for game in games %}
              {% if forloop.counter >= 7 %}
                <div class="carouselItem" style="background-image: url({{game.img_cover.url}});">
                
                <img class="carouselImg" src="{{game.img_cover.url}}">
              
                <a href="{% url 'game' game.id %}">
              <span class="carouselCaption">{{game.name}}<br> {{game.price}}$</span>
              </a>
            </div>
            {% endif %}
            {% endfor %}
          </div>  
          </div>            
          
          <!-- Left and right controls -->
          <a class="carousel-control-prev" href="#demo2" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#demo2" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>
      </div>
    
    </body>

{% endblock main %}
</html>