

.darkNav{
  background-color: #171a21;
}
.logoSmall{
  width: 156.63px;
  height: 36px;
}
.logoBig{
  width: 176px;
  height: 44px;
}

a {
  text-decoration: none;
}

a :hover{
  transition: 0.3s;
  text-decoration: none;
  color: whitesmoke;
}

body{
  background-color: #1b2838;
}

#bg{
  position: absolute; width: 800px; height:700px;visibility: hidden;
}

.smallFont{
  font-size: 15px;
  color: #1999ff;
  font-family: "Motiva Sans", sans-serif;
}

@media screen and (max-width: 860px) {
  .card-footer{
      display: none;
  }
  
}

/* Checkout Form */
#checkoutForm {
  position: relative;
  width: 30%;
  margin-top: 15%;
  background-color: #181a21;
  border-radius: 15px;
  text-align: center;
}

.messageFont{
  color: whitesmoke;
}

button[type=submit]{
margin-left: auto;
margin-right: auto;
margin-top: 2%;
width: 50%;
height: 50px;
background: linear-gradient(90deg, #06BFFF 0%, #2D73FF 100%);
font-size: 16px;
font-weight: 400;
font-family: inherit;
text-align: center;
cursor: pointer;
border-radius: 8px;
}

label {
margin-bottom: 0px !important;
}

a:hover{
text-decoration: none;
}

@media screen and (max-width: 900px) {
    #checkoutForm {
      width: 100%;
      margin-top: 25%;
    }

}

#paypalButton{
  border-radius: 10px;
}

button:hover {
  opacity: 0.8;
}

.container {
  padding: 16px;
}

/* Change styles for span and cancel button on extra small screens */


.fade-in{
  animation: fadeIn 1s ease-in-out;
}
@keyframes fadeIn {
  from { opacity:0}
  to { opacity:1;}
}

/* Background Blur code */
.gradient-blur {
  position: fixed;
  z-index: -1;
  inset: auto 0 0 0;
  height: 100%;
  pointer-events: none;
}
.gradient-blur > div,
.gradient-blur::before,
.gradient-blur::after {
  position: absolute;
  inset: 0;
}
.gradient-blur::before {
  content: "";
  z-index: 1;
  backdrop-filter: blur(0.5px);
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 12.5%,
    rgba(0, 0, 0, 1) 25%,
    rgba(0, 0, 0, 0) 37.5%
  );
}
.gradient-blur > div:nth-of-type(1) {
  z-index: 2;
  backdrop-filter: blur(1px);
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 12.5%,
    rgba(0, 0, 0, 1) 25%,
    rgba(0, 0, 0, 1) 37.5%,
    rgba(0, 0, 0, 0) 50%
  );
}
.gradient-blur > div:nth-of-type(2) {
  z-index: 3;
  backdrop-filter: blur(1.5px);
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 25%,
    rgba(0, 0, 0, 1) 37.5%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0) 62.5%
  );
}
.gradient-blur > div:nth-of-type(3) {
  z-index: 4;
  backdrop-filter: blur(2px);
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 37.5%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 1) 62.5%,
    rgba(0, 0, 0, 0) 75%
  );
}
.gradient-blur > div:nth-of-type(4) {
  z-index: 5;
  backdrop-filter: blur(2.5px);
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 1) 62.5%,
    rgba(0, 0, 0, 1) 75%,
    rgba(0, 0, 0, 0) 87.5%
  );
}
.gradient-blur > div:nth-of-type(5) {
  z-index: 6;
  backdrop-filter: blur(3px);
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 62.5%,
    rgba(0, 0, 0, 1) 75%,
    rgba(0, 0, 0, 1) 87.5%,
    rgba(0, 0, 0, 0) 100%
  );
}
.gradient-blur > div:nth-of-type(6) {
  z-index: 7;
  backdrop-filter: blur(3.5px);
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 75%,
    rgba(0, 0, 0, 1) 87.5%,
    rgba(0, 0, 0, 1) 100%
  );
}
.gradient-blur::after {
  content: "";
  z-index: 8;
  backdrop-filter: blur(4px);
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 87.5%,
    rgba(0, 0, 0, 1) 100%
  );
}
