.darkNav{
    background-color: #171a21;
}
.logoSmall{
    width: 156.63px;
    height: 36px;
}
.logoBig{
    width: 176px;
    height: 44px;
}

body {
    background-color: #1b2838; overflow-x: hidden;
}

a {
    text-decoration: none;
}

a :hover{
    transition: 0.3s;
    text-decoration: none;
    color: whitesmoke;
}

.menuItem{
    display: block;
    text-decoration: none;
    padding: 7px;
    padding-left: 15px;
    color: #cccdce;
}

.menuItem:hover{
    color: whitesmoke;
    text-decoration: none;
    transition: 0.3s;
}

@media screen and (min-width: 950px){
.dropdown .dropdown-menu{
    display: block; 
    opacity:0;
    -webkit-transition: all 150ms ease-in;
    -moz-transition: all 150ms ease-in;
    -ms-transition: all 150ms ease-in;
    -o-transition: all 150ms ease-in;
    transition: all 150ms ease-in;
 }
}
.navbar-nav li:hover>.dropdown-menu {
    display: block;
    margin-top: 0px;
    opacity: 1;
    text-decoration: none;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 25;
    top: 0;
    left: 0;
    background-color: #171a21;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 3%;
    width: 100%;
    text-align: left;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
    text-decoration: none;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 0px;
    left: 6px;
    padding: 10px;
    padding-top: 3px;
    font-size: 30px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }

.titleFont{
    font-size: 35px;
    font-weight: 600;
    color: whitesmoke;
}

.smallFont{
    font-size: 20px;
    color: whitesmoke;
}
@media screen and (max-width: 860px) {
    .card-footer{
        display: none;
    }
}

.aboutBlock{
    margin: 100px;
    padding: 0px 200px;
    width: 100%;
}


/* This is for the scroll down animation */
.fade-in{
    animation: fadeIn 1s ease-in-out;
}
@keyframes fadeIn {
    from { opacity:0}
    to { opacity:1;}
}

.slide-in-rtl{
    animation: slideIn-rtl 2.5s ease-in-out;    
}
@keyframes slideIn-rtl {
    from {margin-left: 100%}
    to {margin-left: 35%;}
}

.slide-in-ltr{
    animation: slideIn-ltr 2.5s ease-in-out;
}
@keyframes slideIn-ltr {
    from {margin-left: -100%}
    to {margin-left: 0%;}
}

#dimmed_about_block{
    background-repeat: repeat !important;
    background-size: contain !important; 
    text-align: center;  
    padding: 100px; 
    overflow-x: hidden;
}

#dimmed_about_block img{
    position: absolute; visibility: hidden;
}

#about_info_container{
    margin-left: 0px;
}

#about_img1{
    width: 470px; height: 266px; margin-left: 35%; position: absolute;
}
#about_img2{
    width: 470px; height: 397px; padding-right: 35px; position: absolute;
}
#about_img3{
    width: 470px; height: 296px; margin-left: 35%; position: absolute;
}
#about_block2{
    margin-left: 30%; width:100%
}
#about_block2_text{
    margin-left: 70%;
}
.fade-in h1{
    padding-top: 100px;
}