{% load static %}

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<nav class="d-flex navbar navbar-expand-md darkNav navbar-dark">
            
    <div class="mx-auto bg">
        <a href="{% url 'pages:home' %}"><img
            class="logoBig" src="https://store.cloudflare.steamstatic.com/public/shared/images/header/logo_steam.svg?t=962016"></a>            
    </div>

    <button type="button" class="d-none d-md-block btn btn-success" data-target="#">
        <img width="15px" height="15px" src="https://img.icons8.com/material-sharp/256/download--v1.png">Install Steam</button>

      </nav>
</head>

{% block main %}
    
{% endblock main %}



<div class="card-footer" style="background-color: #171a21; width: 100%; height:100px; padding: 20px 350px; color: whitesmoke;
    overflow: hidden; position: fixed; bottom: 0px; text-align:center"  >
      <div style="float: left; padding-right: 10px; height: 100%;">
        <img  src="https://store.cloudflare.steamstatic.com/public/images/footerLogo_valve_new.png" width="88px" height="25px" alt="Valve Software">
      </div>
      <div style="float: right; padding-left: 10px; height: 100%;">
        <img  src="https://store.cloudflare.steamstatic.com/public/images/v6/logo_steam_footer.png" alt="Valve Software" width="92px" height="26px">
      </div>
    <span>
      Made with love by: Mazen Yasser © 2023
      <br>
      Clone of "store.steampowered.com"
    </span>
    </div>
</html>