

.darkNav{
    background-color: #171a21;
  }
  .logoSmall{
    width: 156.63px;
    height: 36px;
  }
  .logoBig{
    width: 176px;
    height: 44px;
  }
  
  a {
    text-decoration: none;
  }
  
  body{
    background-color: #1b2838;
  }

  a :hover{
    transition: 0.3s;
    text-decoration: none;
    color: whitesmoke;
  }
  
  
  .smallFont{
    font-size: 15px;
    color: #1999ff;
    font-family: "Motiva Sans", sans-serif;
  }

  @media screen and (max-width: 860px) {
    .card-footer{
        display: none;
    }
    
  }
  
  .titleFont{
    font-size: 30px;
    color: whitesmoke;
    font-weight: light;
    font-family: "Motiva Sans", sans-serif;
  }
  
  .titleFont span{
    padding-left: 10px;
  }
  
  button > span{
    color:whitesmoke;
  }

  #passwordInput{
    display: block;
  }

  /* forgotPassword Form */
  #forgotPasswordForm {
    position: relative;
    width: 30%;
    margin-top: 10%;
    background-color: #181a21;
    border-radius: 15px;
  }
  
  button[type=submit]{
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  width: 50%;
  height: 50px;
  background: linear-gradient(90deg, #06BFFF 0%, #2D73FF 100%);
  font-size: 16px;
  font-weight: 400;
  font-family: inherit;
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
  }
  
  label {
  margin-bottom: 0px !important;
  }
  
  a:hover{
  text-decoration: none;
  }
  
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #2b2b2b;
    display: block;
    border: 3px solid #2b2b2b;
    box-sizing: border-box;
    color: whitesmoke;
  }
  
  @media screen and (max-width: 900px) {
      #forgotPasswordForm {
        width: 100%;
        margin-top: 25%;
      }
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .container {
    padding: 12px;
  }

.fade-in{
  animation: fadeIn 0.3s ease-in-out;
}
@keyframes fadeIn {
  from { opacity:0}
  to { opacity:1;}
}

#btn-div{
  text-align: center;
}

/* Background Blur code */
.gradient-blur {
    position: fixed;
    z-index: -1;
    inset: auto 0 0 0;
    height: 100%;
    pointer-events: none;
  }
  .gradient-blur > div,
  .gradient-blur::before,
  .gradient-blur::after {
    position: absolute;
    inset: 0;
  }
  .gradient-blur::before {
    content: "";
    z-index: 1;
    backdrop-filter: blur(0.5px);
    mask: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 12.5%,
      rgba(0, 0, 0, 1) 25%,
      rgba(0, 0, 0, 0) 37.5%
    );
  }
  .gradient-blur > div:nth-of-type(1) {
    z-index: 2;
    backdrop-filter: blur(1px);
    mask: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 12.5%,
      rgba(0, 0, 0, 1) 25%,
      rgba(0, 0, 0, 1) 37.5%,
      rgba(0, 0, 0, 0) 50%
    );
  }
  .gradient-blur > div:nth-of-type(2) {
    z-index: 3;
    backdrop-filter: blur(1.5px);
    mask: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 25%,
      rgba(0, 0, 0, 1) 37.5%,
      rgba(0, 0, 0, 1) 50%,
      rgba(0, 0, 0, 0) 62.5%
    );
  }
  .gradient-blur > div:nth-of-type(3) {
    z-index: 4;
    backdrop-filter: blur(2px);
    mask: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 37.5%,
      rgba(0, 0, 0, 1) 50%,
      rgba(0, 0, 0, 1) 62.5%,
      rgba(0, 0, 0, 0) 75%
    );
  }
  .gradient-blur > div:nth-of-type(4) {
    z-index: 5;
    backdrop-filter: blur(2.5px);
    mask: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 1) 62.5%,
      rgba(0, 0, 0, 1) 75%,
      rgba(0, 0, 0, 0) 87.5%
    );
  }
  .gradient-blur > div:nth-of-type(5) {
    z-index: 6;
    backdrop-filter: blur(3px);
    mask: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 62.5%,
      rgba(0, 0, 0, 1) 75%,
      rgba(0, 0, 0, 1) 87.5%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  .gradient-blur > div:nth-of-type(6) {
    z-index: 7;
    backdrop-filter: blur(3.5px);
    mask: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 75%,
      rgba(0, 0, 0, 1) 87.5%,
      rgba(0, 0, 0, 1) 100%
    );
  }
  .gradient-blur::after {
    content: "";
    z-index: 8;
    backdrop-filter: blur(4px);
    mask: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 87.5%,
      rgba(0, 0, 0, 1) 100%
    );
  }
  