{% extends 'headerFooter.html'%}
{% load static %}
<html>
    {% block main %}
    <link rel="stylesheet" href="{% static 'css/forgot-password-stylesheet.css' %}/?=v1">

<body id="transparentBG" style="background: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url({% static 'ImageData/cover.webp' %});">
 <div class="gradient-blur"></div>
 <div id="emailInputForm" class="container smallFont">
    <div class="container titleFont">
       <span>Enter your email</span>
     </div>
    
     <div class="container smallFont">
        
          <div class="container fade-in">
            <form method="POST" >
              {% csrf_token %}
            <input class="fade-in" type="text" placeholder="" name="email" required>

            <div id="btn-div">
              <button type="submit">
                <span>Submit</span></button>
              </div>
              
            </form>
            {% if messages %}
            {% for message in messages %}
                  {{ message }}
                {% endfor %}
              {% endif %}
          </div>
           
       
    
     </div>
 </div>
</body>
{% endblock main %}
</html>