<!DOCTYPE html>
{% extends 'headerFooter.html' %}
{%load static %}
{% block main %}
<html>

        <link rel="stylesheet" href="{% static 'css/login-stylesheet.css' %}">
        <script src="{% static 'js/login-js.js' %}"></script>

  
    <body id="transparentBG" style="background-color: #1b2838;
    background: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url({% static 'ImageData/cover.webp' %});" class="fade-in">
      
        <img style="position: absolute; width: 800px; height:700px;visibility: hidden;" src="{% static 'ImageData/games.jpg' %}">
  
        
        <form id="loginForm" method="POST" style="width: 40%; margin-top: 5%;" class="container fade-in">
          {% csrf_token %}
          <div class="container" style="text-align: center;">
            <img src="https://store.cloudflare.steamstatic.com/public/shared/images/header/logo_steam.svg?t=962016">
          </div>
        
          <div class="container smallFont">
              {% csrf_token %}
            <label for="uname"><b>Username</b></label>
            <input style="background-color: #e8f0fe;" type="text" placeholder="Enter Username" name="username" required>
        
            <label for="psw"><b>Password</b></label>
            <input style="background-color:#e8f0fe;" type="password" placeholder="Enter Password" name="password" required>
                
            <button type="submit" class="smallFont" style="display: block;width: 25%; margin-left: 37%; margin-top:2%;height: 50px; background-image: linear-gradient(to right, #3786c6 , #223e87);;">
              <span style="color: whitesmoke; font-weight: 600;">Login</span></button>
            <label>
                <br>
              <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>

            <p class = 'smallFont'>
            {% if messages %}
              {% for message in messages %}
                {{ message }}
              {% endfor %}
            {% endif %}
            </p>
          </div>
          
          <div class="container" >
            <button style="width: 25%; margin-left: 37%; margin-top:2%;height: 50px; background-image: linear-gradient(to right, #df1b1b, #ba3030);" 
            type="button" class="cancelbtn smallFont" onclick=clearInput()><span style="color: whitesmoke; font-weight: 600;">Clear</span></button></button>
          </div>
        </form>
        <br>
    </body>
    
    {% endblock main %}
</html>