<!DOCTYPE html>
{% extends 'headerFooter.html' %}
{% load static %}
{%block main%}
<html>
        <link rel="stylesheet" href= "{% static "css/register-stylesheet.css" %}/?=v1">
        <script src="{% static 'js/register-js.js' %}"></script>

    
    <body style="background: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url({% static 'ImageData/cover.webp' %});">
      <div class="gradient-blur">

      </div>

        <img id="bg" src="{% static 'ImageData/games.jpg' %}">
  
        
        <form id="registerForm" method="POST" class="container smallFont fade-in">
          {% csrf_token %}
          <div class="container titleFont">
            Create Your Account
          </div>
        
          <div class="container smallFont">
            <label for="username"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" required>

            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" required>

            <label for="phone"><b>Phone</b></label>
            <input type="text" placeholder="Enter Phone" name="phone" required>
        
            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>
            
            <div style="text-align: center">
            <button type="submit">
              <span class='white'>Sign Up</span></button>
            </div>

            {% if form.errors %}
            <p class = "smallFont white">
              Registration Failed
            </p>
          {% endif %}
          </div>
      

          
          
        </form>

    </body>
    <br>
    
    {% endblock main %}
</html>