<!DOCTYPE html>
{% extends 'headerFooter.html' %}
{% load static %}
{% block main %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href={% static "css/checkout-stylesheet.css" %}>
        <script src={% static "js/checkout-js.js"%}></script>

    </head>

    <body id="transparentBG" style="background-color: #1b2838; background: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url({% static 'ImageData/games.jpg' %});">
      
        <img style="position: absolute; width: 800px; height:700px;visibility: hidden;" src="{% static 'ImageData/games.jpg' %}">

            <h2 style="color: whitesmoke;">Product: {{game.name}}</h2>
            {% if isOwned %}
              <p class='smallFont'> You already own {{game.name}}</p>
            {% else %}
              <p style="color: whitesmoke;">Total: ${{game.price}} USD</p>  
              {{paypal_payment_button.render}}
            {% endif %}

        <br>
    </body>
    {% endblock main %}
</html>