<!DOCTYPE html>
{% extends 'headerFooter.html' %}
{% load static %}
{% block main %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">    
        <link rel="stylesheet" href={% static "css/checkout-stylesheet.css" %}>
    </head>

    <body style="background: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url({% static 'ImageData/games.jpg' %});">
      <div class="gradient-blur"></div>

        <img id="bg" src="{% static 'ImageData/games.jpg' %}">
  
          <div id="checkoutForm" class="container">

            <h1 class="messageFont">Payment Successful!</h1>
            <p  class="messageFont">Your game will be sent to the specified email.</p>
            <a href="{% url 'pages:home' %}">
                <button type="button" class="btn btn-success">Back to home page</button>
            </a>
          </div>
        
        <br>

    </body>
    {% endblock main %}
</html>